In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
wavedata=pd.read_csv('data files/townsville-wavedata-1975-2019.csv', low_memory=False)
pd.set_option('display.float_format', lambda x:'%f'%x)

In [4]:
wavedata.head(10)

             Date/Time       Hs       Hmax       Tz       Tp  Dir_Tp TRUE  SST
0  1975-11-20T15:00:00 0.830000   1.510000 3.350000 5.690000          nan  nan
1  1975-11-21T03:00:00 0.690000   1.070000 3.300000 5.390000          nan  nan
2  1975-11-21T15:00:00 0.340000   0.590000 3.330000 4.760000          nan  nan
3  1975-11-22T03:00:00 0.310000   0.510000 2.900000 6.770000          nan  nan
4  1975-11-22T15:00:00 0.250000   0.510000 2.500000 7.020000          nan  nan
5  1975-11-23T03:00:00 0.520000   1.040000 2.670000 3.400000          nan  nan
6  1975-11-23T15:00:00 0.550000   0.890000 2.720000 3.780000          nan  nan
7  1975-11-24T03:00:00 0.360000   0.710000 2.480000 4.000000          nan  nan
8  1975-11-24T15:00:00 0.430000 -99.000000 2.590000 4.480000          nan  nan
9  1975-11-25T03:00:00 0.400000   0.680000 2.500000 3.270000          nan  nan

In [6]:
wavedata['Date/Time'].head(10)

0    1975-11-20T15:00:00
1    1975-11-21T03:00:00
2    1975-11-21T15:00:00
3    1975-11-22T03:00:00
4    1975-11-22T15:00:00
5    1975-11-23T03:00:00
6    1975-11-23T15:00:00
7    1975-11-24T03:00:00
8    1975-11-24T15:00:00
9    1975-11-25T03:00:00
Name: Date/Time, dtype: object

In [11]:
wavedata['Date/Time']=pd.to_datetime(wavedata['Date/Time'])

In [12]:
wavedata['Date/Time'].head(10)

0   1975-11-20 15:00:00
1   1975-11-21 03:00:00
2   1975-11-21 15:00:00
3   1975-11-22 03:00:00
4   1975-11-22 15:00:00
5   1975-11-23 03:00:00
6   1975-11-23 15:00:00
7   1975-11-24 03:00:00
8   1975-11-24 15:00:00
9   1975-11-25 03:00:00
Name: Date/Time, dtype: datetime64[ns]