In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
wavedata=pd.read_csv('data files/townsville-wavedata-1975-2019.csv', low_memory=False)
pd.set_option('display.float_format', lambda x:'%f'%x)

In [3]:
wavedata['Date/Time']=pd.to_datetime(wavedata['Date/Time'])

In [4]:
x=wavedata.drop("Date/Time", axis=1).values
min_max_scaler=preprocessing.MinMaxScaler()
x_scaled=min_max_scaler.fit_transform(x)
normalized_wavedata=pd.DataFrame(x_scaled)

In [5]:
wavedata.head(10)

            Date/Time       Hs       Hmax       Tz       Tp  Dir_Tp TRUE  SST
0 1975-11-20 15:00:00 0.830000   1.510000 3.350000 5.690000          nan  nan
1 1975-11-21 03:00:00 0.690000   1.070000 3.300000 5.390000          nan  nan
2 1975-11-21 15:00:00 0.340000   0.590000 3.330000 4.760000          nan  nan
3 1975-11-22 03:00:00 0.310000   0.510000 2.900000 6.770000          nan  nan
4 1975-11-22 15:00:00 0.250000   0.510000 2.500000 7.020000          nan  nan
5 1975-11-23 03:00:00 0.520000   1.040000 2.670000 3.400000          nan  nan
6 1975-11-23 15:00:00 0.550000   0.890000 2.720000 3.780000          nan  nan
7 1975-11-24 03:00:00 0.360000   0.710000 2.480000 4.000000          nan  nan
8 1975-11-24 15:00:00 0.430000 -99.000000 2.590000 4.480000          nan  nan
9 1975-11-25 03:00:00 0.400000   0.680000 2.500000 3.270000          nan  nan

In [6]:
normalized_wavedata.head(10)

         0        1        2        3   4   5
0 0.956055 0.921909 0.907246 0.841160 nan nan
1 0.954727 0.917909 0.906806 0.838770 nan nan
2 0.951405 0.913545 0.907070 0.833752 nan nan
3 0.951120 0.912818 0.903292 0.849764 nan nan
4 0.950550 0.912818 0.899777 0.851755 nan nan
5 0.953113 0.917636 0.901271 0.822917 nan nan
6 0.953398 0.916273 0.901710 0.825945 nan nan
7 0.951595 0.914636 0.899601 0.827697 nan nan
8 0.952259 0.008182 0.900568 0.831521 nan nan
9 0.951974 0.914364 0.899777 0.821882 nan nan